<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <h1>View Cupcakes</h1>
    <ul id="cupcakes-list"></ul>
    
    <h2>Add Cupcake</h2>

    <form id="cupcake-form">
        <label for="flavor">Flavor: </label>
        <input id="flavor" type="text">

        <label for="size">Size: </label>
        <input id="size" type="text">

        <label for="size"></label>
        <input type="number" id="rating">

        <label for="image"></label>
        <input type="text" id="image">

        <button>Add</button>
    </form>

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/cupcakes.js"></script>
</body>
</html>